{% extends "blog/base_blog.html" %}

{% block post_entries %}

    <div class="post">
        <h2>{{ post.titulo }}</h2>
        <p class="meta"> {{ post.data_criado }} | Autor: {{ post.autor }}</p>
        {{ post.texto }}
        </p>
        {% if post.link_media != null %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ post.link_media }}" allowfullscreen></iframe>
          </div>
        {% endif %}
    </div>
    <div class="card">
        <div class="card-body">
            <a  href="{% url 'blog:comentario_novo' pk=post.pk %}">Escreva um comentário</a>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Comentários
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% for comentario in object.comentario_set.all %}
                    <div class="comments">
                        <div class="date">
                            <strong>{{comentario.autor}}</strong> - {{comentario.data_criado}}
                            ({{ comentario.likes }}) <a href="{% url 'blog:comentario_like' pk=comentario.pk %}">Like</a> | 
                            ({{ comentario.unlikes }}) <a href="{% url 'blog:comentario_unlike' pk=comentario.pk %}">Dislike</a>
                        </div>
                        <p> {{ comentario.texto }}</p>
                    </div>
                {% endfor %}
          </div>
        </div>
    </div>
    
   

{% endblock post_entries %}