{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
            {% if product.image %}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                {% for image in object.images_set.all %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="{{image.id}}" {% if image.id == 1 %} class="active" {% endif %}></li>
                {% endfor %}
                </ol>
                <div class="carousel-inner" style="height: 10rem; width: 100%;" >
                {% for image in object.images_set.all %}
                
                  <div class="carousel-item {% if image.id == 1 %} active {% endif %}">
                    <img src="/media/{{image.image}}" class="container-fluid" alt="...">
                  </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            {% else %}
            <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-9">
            <h1 class="font-weight-bold">{{ product.name }}</h1>
            <h2>R$ {{ product.price }}</h2>
            <p>{{ product.description }}</p>
            <!---
            <form class="form-group" action="{% url 'cart:add' product.id %}" method="post">
                <p class="form-inline">
                    {{ form.quantity.label_tag }}
                    {% render_field form.quantity class+="form-control ml-sm-3" %}
                    {{ form.override }}
                </p>
                {% csrf_token %}
                <input class="btn btn-success" type="submit" value="Adicionar ao Carrinho">
            </form>
            -->
            <p>
                Voltar para o catálogo de
                <a class="text-decoration-none" href="{{ product.category.get_absolute_url }}">
                    {{ product.category.name }}
                </a>
            </p>
        </div>
    </div>
</div>




{% endblock content %}

